<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
        a{
            text-decoration: none;
        }
        #header{
            font-family: 'Roboto Mono', monospace;
        }
        #listLinks{
            margin: 5%;
        }
        #navEl{
            margin: 2%;
        }
        #sh{
            margin-bottom: 0%;

        }
        #tsh{
            margin-left: 10%; 
            margin-top: 0%;
        }
    
    </style>

</head>
<body>
    <section id="header">
        <h1 id="sh">Warhammer Muster</h1>
        <p id="tsh">The Online Warhammer 40k List Builder</p>
        <section>
            <a href="/" id="navEl">Home</a>
        </section><br>
    </section>
    

