<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
        a{
            text-decoration: none;
        }
        body{
            background-color: rgb(103, 103, 103);
            font-family: 'IBM Plex Sans', sans-serif;
        }
        #header{
            font-family: 'Roboto Mono', monospace;
        }
        #listLinks{
            margin: 5%;
        }
        #navEl{
            margin: 2%;
        }
        #sh{
            margin-left: 3%;
            margin-bottom: 0%;

        }
        #tsh{
            margin-left: 10%; 
            margin-top: 0%;
        }
        #fl{
            display: flex;
        }
        #armyContainer{
            text-align: center;
            background-color: rgb(69, 145, 157);
            margin: 1%;
            border-radius: 5%;
        }
        #navbar{
            background-color: rgb(71, 71, 71);
            
        }
        #indexsh{
            background-color: rgb(168, 167, 166);
            border-radius: 15%;

        }
        #aLogo{
            margin-top: 15%;
        }
        #unitsedit{
            display: flex;
        }
        #uess{
            margin-left: 2%;
            margin-right: 2%;
        }
        #mainbody{
            background-color: rgb(200, 200, 200);
        }
        #liinfo{
            display: flex;
        }
        .iPanel{
            margin-left: 3%;
            margin-right: 3%;
            margin-bottom: 2%;
        }
        #tagline{
            margin: 15%;
        }
    
    </style>

</head>
<body>
    <section id="header">
        <h1 id="sh">Warhammer Muster</h1>
        <p id="tsh">The Online Warhammer 40k List Builder</p>
        <section id="navbar">
            <a href="/" id="navEl">Home</a>
        </section><br>
    </section>
    

