<%- include('./partials/header') %>

    <% for (let x in armiesList) {%>
        <h3>
            <%=armiesList[x].name%>
        </h3>
        
        <a href="/createlist/<%=armiesList[x].name%>">
            Create Army List
        </a>
    <%}%>
    <h2>
        Created Lists
    </h2>
<%- include('./partials/footer') %>