<%- include('./paritals/headers') %>

    <% for (let x in armiesList) {%>
        <h3>
            <%=armiesList[x].name%>
        </h3>
        
        <a href="/createlist/<%=armiesList[x].name%>">
            Create Army List
        </a>
    <%}%>
</body>
</html>